.banner.video {
	.banner-inner {
		max-height: 670px;
	}

	@media (max-width: $breakpointXmedium) and (min-width: $breakpointLarge) {
		.banner-inner::before {
			display: none;
		}
	}

	@media (min-width: $breakpointLarge) {
		.banner-inner {
			background-image: none !important; //sass-lint:disable-line no-important
		}
	}
}

.video-wrapper {
	video {
		min-height: 710px;
	}
}

.video-controls {
	margin: 0 70px 45px 0;
	z-index: 2;

	button {
		display: inline-block;
		border-color: rgba($white, .3);

		@include hover {
			border-color: rgba($white, 1);
			outline: none;
		}
	}
}
