//----------  banner
//------------------------------------------------------------------------------
.banner {
	margin-bottom: 25px;

	+.fixed-nav {
		margin-top: -25px;
	}

	span[data-uk-tooltip] {
		bottom: 15px;
		height: 20px;
		position: absolute;
		right: 20px;
		width: 20px;
		z-index: 2;

		svg {
			fill: $white;
			width: 20px;
			height: 20px;
			left: 0;
			line-height: 1;
			position: absolute;
			top: 0;
		}
	}

	&.explore {
		margin-bottom: 100px;

		.banner-text {
			max-width: 100%;
		}

		h2 {
			font-size: 67px;
		}

		h2,
		p {
			color: $blue;
		}

		p {
			padding-right: 20px;
		}

		.uk-button {
			background-color: $blue;
		}
	}

	&.listing {

		>div {
			padding: 90px 0 40px;
		}

		h1 {
			margin-top: 15px;
		}
	}

	@media (min-width: $breakpointTabletPortrait) {
		span[data-uk-tooltip] {
			bottom: 35px;
			right: 75px;
		}
	}

	@media (min-width: $breakpointLarge) {
		padding: 0 40px;
	}

	@media (max-width: $breakpointMediumMax) {
		&.explore {
			padding: 0 60px;

			.banner-inner {
				padding-top: 410px;

				>.uk-position-cover {
					height: 410px;
				}
			}

			h2,
			p {
				color: $white;
			}

			h2 {
				font-size: 44px;
			}

			.uk-button {
				background-color: $white;

				>span {
					color: $blue;

					&:last-of-type {
						&::after {
							background-color: $blue;
						}

						.uk-svg,
						.uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
							fill: $blue;
						}
					}
				}
			}

			.banner-text {
				background-color: $blue;
				padding: 58px 58px 75px;
			}
		}
	}

	@media (max-width: $breakpointTabletPortraitMax) {
		&.explore {
			padding: 0;

			.banner-inner {
				padding-top: 174px;

				>.uk-position-cover {
					height: 180px;
				}
			}

			.banner-text {
				padding: 42px 20px 58px;
			}

			h2 {
				font-size: 34px;
			}

			p {
				font-size: 16px;
			}

			.uk-button-large {
				padding: 18px 45px 18px 40px;
			}
		}
	}
}

.banner-inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 510px;
	position: relative;

	&::before {
		background: $hero-overlay;
		bottom: 0;
		content: '';
		height: 460px;
		left: 0;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 1;
	}

	@media (min-width: $breakpointTabletPortrait) {
		min-height: 670px;
	}
}

.banner-text {
	padding: 20px;
	position: relative;
	max-width: 900px;
	z-index: 1;

	&.large {
		max-width: 1115px;
	}

	* {
		color: $white;
	}

	>span {
		font-size: 18px;
		line-height: 1.3em;
	}

	h1 {
		font-size: 34px;
		margin: 13px 0;
	}

	.label {
		display: inline-block;
		margin: 15px;
	}

	.uk-button-default {
		padding: 13px 38px 13px 40px;

		>span:last-of-type {
			&::after {
				background-color: $white;
			}

			.uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
				fill: $white;
			}
		}
	}

	@media (min-width: $breakpointMedium) {
		h1 {
			font-size: 74px;
		}
	}

	@media (min-width: $breakpointTabletPortrait) {
		padding: 30px 60px 45px;

		h1 {
			font-size: 67px;
			margin: 23px 0 25px;
		}

		>span {
			font-size: 26px;
		}

		>.uk-flex .uk-button-default {
			margin-bottom: 20px;
		}
	}

	@media (min-width: $breakpointLarge) {
		padding: 30px 80px;

		h1 {
			margin: 15px 0 25px;
		}
	}

	@media (max-width: $breakpointXsmallMax) {
		.label {
			font-size: 16px;
			max-width: 130px;
		}
	}
}
