//----------  banner
//------------------------------------------------------------------------------
.banner {
	margin-bottom: 25px;
	padding: 0 40px;

	+.fixed-nav {
		margin-top: -25px;
	}

	span[data-uk-tooltip] {
		bottom: 35px;
		height: 20px;
		position: absolute;
		right: 75px;
		width: 20px;
		z-index: 2;

		svg {
			fill: $white;
			width: 20px;
			height: 20px;
			left: 0;
			line-height: 1;
			position: absolute;
			top: 0;
		}
	}

	&.explore {
		margin-bottom: 100px;

		h2 {
			font-size: 67px;
		}

		h2,
		p {
			color: $blue;
		}

		p {
			padding-right: 20px;
		}

		.uk-button {
			background-color: $blue;
		}
	}
}

.banner-inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 670px;
	position: relative;

	&::before {
		background: $hero-overlay;
		bottom: 0;
		content: '';
		height: 460px;
		left: 0;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 1;
	}
}

.banner-text {
	padding: 30px 80px 30px 70px;
	position: relative;
	z-index: 1;

	* {
		color: $white;
	}

	>span {
		font-size: 26px;
		line-height: 1.3em;
	}

	h1 {
		font-size: 74px;
		margin: 15px 0 20px;
	}

	.label {
		display: inline-block;
		margin: 15px;
	}

	.uk-button-default {
		>span:last-of-type {
			&::after {
				background-color: $white;
			}

			.uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
				fill: $white;
			}
		}
	}
}
