.beach-section {
    padding-bottom: 60px;

    .uk-card {
        >a.uk-position-cover {
            width: calc(100% - 30px);
            left: 30px;
            margin-top: 0;
        }

        @include hover {
            .uk-button-text {
                >span:last-of-type {
                    &::after {
                        width: 18px;
                    }

                    svg {
                        left: 18px;
                    }
                }

                .shape {
                    animation: .35s drawShape 0s linear forwards;
                }
            }
        }
    }

    .uk-card-body {
        ul {
            margin-bottom: 0;
        }

        li {
            margin-bottom: 20px;

            &:not(:last-of-type) {
                margin-right: 20px;
            }

            &.label {
                svg {
                    width: 24px;
                    height: 24px;
                    fill: $blue;
                    margin-right: 12px;
                    transition: $nbSec ease-in-out;
                }

                a {
                    color: inherit;
                    display: inline-block;
                    width: auto;

                    &::after {
                        display: block;
                        position: absolute;
                        content: '';
                        height: 2px;
                        background-color: $green-pastel;
                        opacity: 1;
                        transition: $nbSec ease-in-out;
                        left: 37px;
                        bottom: 0;
                        width: calc(100% - 36px);
                    }

                    @include hover {
                        color: $turquise;

                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        p {
            &:first-of-type {
                margin-top: 5px;
            }

            &:last-of-type {
                margin-bottom: 25px;
            }
        }
    }

    .uk-card-media-left {
        min-height: 186px;
    }

    .uk-card-title {
        line-height: 1.3em;
        margin-bottom: 15px;
    }

    ul {
        list-style-type: none;
    }

    @media (min-width: $breakpointSmall) {
        .uk-card-media-left {
            min-height: 430px;
        }
    }

    @media (min-width: $breakpointTabletPortrait) {
        .uk-card-title {
            margin-bottom: 33px;
        }

        .uk-card-media-left img {
            top: 22px;
        }
    }

    @media (min-width: $breakpointLarge) {
        .uk-card {
            >a.uk-position-cover {
                width: calc(100% - 80px);
                left: 80px;
            }
        }

        .uk-card-body {
            li {
                &:not(:last-of-type) {
                    margin-right: 30px;
                }

                &.label a::after {
                    opacity: 0;
                }
            }
        }

        .uk-card-title {
            margin-top: 20px;
            margin-bottom: 38px;
        }
    }

    @media (max-width: $breakpointMediumMax) {
        .uk-card-body p {
            font-size: 16px;
        }
    }

    @media (max-width: $breakpointMediumMax) and (min-width: $breakpointTabletPortrait) {
        li.uk-grid-margin.uk-first-column {
            margin-top: 80px;
        }
    }

    @media (max-width: $breakpointTabletPortraitMax) {
        li.uk-grid-margin.uk-first-column {
            margin-top: 60px;
        }

        .uk-card-title {
            font-size: 26px;
        }

        .uk-card-body {
            ul {
                margin: 0;
            }

            li {
                &.label a {
                    padding: 12px 0;
                }
            }

            p {
                margin-bottom: 15px;

                &:first-of-type {
                    margin-top: 0;
                }
            }
        }

        .uk-card-media-left img {
            max-width: 106px;
        }

        .nb-filter ul {
            padding: 0;
            flex-direction: column;

            li {
                width: 100%;
                display: flex;
                justify-content: center;

                .uk-button {
                    max-width: 280px;
                    width: 100%;
                    text-align: center;
                    display: block;
                }

                &:not(:first-of-type) {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }
}
