.explore-item {
    // padding-bottom: 30px;

    a {
        z-index: 1;
    }

    .uk-card-body {
        padding: 0;

        .label {
            margin: 30px 0 10px;
            display: block;
        }

        >.uk-card-title {
            margin-top: 25px;
        }

        .label + .uk-card-title {
            margin-top: 0;
        }
    }

    .uk-card-media-top {
        background-color: $black;
        overflow: hidden;

        .uk-background-cover {
            transition: 1s;

            &::after {
                background-color: rgba($black, .3);
                position: absolute;
                left: 0;
                content: '';
                top: 0;
                bottom: 0;
                width: 100%;
                opacity: 0;
                transition: 1s;
            }
        }

        img {
            transition: 1s;
            max-width: none;
            backface-visibility: hidden;
            width: 100%;
        }
    }

    .uk-card-title {
        font-family: $font-default;
        font-weight: $bold;

        &+* {
            margin-top: 20px;
        }
    }

    .uk-button-text {
        display: inline-block;
        font-size: 28px;
        line-height: 1.3em;
        color: $blue-light;
        font-weight: normal;
        margin-top: 30px;

        &::after {
            position: absolute;
            content: '';
            width: 80px;
            height: 4px;
            top: -10px;
            left: 0;
            background-color: $blue-light;
        }
    }

    @include hover {
        .uk-card-media-top {
            img {
                opacity: .7;
                transform: scale3d(1.1, 1.1, 1);
            }

            .uk-background-cover {
                transform: scale(1.1);

                &::after {
                    opacity: 1;
                }
            }
        }

        .uk-button>span:last-of-type {
            &::after {
                width: 18px;
            }

            svg {
                left: 18px;
            }
        }
    }
}
