.explore-section {
    &.events {
        padding-bottom: 110px;
    }

    .uk-text-large {
        display: inline-block;
    }

    @media (max-width: $breakpointMediumMax) {
        &.events .uk-container:first-of-type {
            padding: 0;
        }
    }
}

.explore-wrap {
    .uk-card {

        &.large,
        &.medium,
        &.small {
            padding-top: 210px;

            .uk-card-media-top {
                height: 210px;
            }
        }

        .uk-card-media-top {
            position: absolute;
            width: 100%;
            top: 0;
        }
    }

    @media (min-width: $breakpointMedium) {
        padding-bottom: 40px;

        &:nth-of-type(2) {
            .uk-grid>div {
                &:first-of-type {
                    order: 2;
                }

                &:nth-of-type(2) {
                    order: 1;
                }

                &:nth-of-type(3) {
                    order: 3;
                }

                &:last-of-type {
                    order: 4;
                }
            }
        }

        .uk-card {
            padding-bottom: 90px;

            &.width-1-2-vw {
                .uk-card-media-top {
                    width: 50vw;
                }
            }

            &.right {

                .uk-card-body {
                    padding-right: 80px;
                }

                .uk-card-media-top {
                    left: 0;
                }
            }

            &.left {

                .uk-card-media-top {
                    right: 0;
                }
            }

            &.large {
                padding-top: 607px;

                .uk-card-media-top {
                    height: 607px;
                }
            }

            &.medium {
                padding-top: 530px;

                .uk-card-media-top {
                    height: 530px;
                }
            }

            &.small {
                padding-top: 440px;

                .uk-card-media-top {
                    height: 440px;
                }
            }
        }
    }

    @media (max-width: $breakpointSmallMax) {

        &:nth-of-type(2) {
            .uk-grid>div {
                position: relative;

                &:first-of-type,
                &:nth-of-type(2) {
                    right: -30px;
                }
            }
        }

        .uk-first-column:first-of-type .explore-item,
        .uk-first-column:last-of-type .explore-item {
            left: 30px;
        }

        .uk-card {
            &.right {
                left: 30px;
            }

            &.left {
                right: 30px;

                .uk-card-body {
                    padding-left: 60px;
                }
            }
        }
    }

    @media (max-width: $breakpointXsmallMax) {

        &:nth-of-type(2) {
            .uk-grid>div {
                position: relative;

                &:first-of-type,
                &:nth-of-type(2) {
                    right: -10px;
                }
            }
        }

        .uk-first-column:first-of-type .explore-item,
        .uk-first-column:last-of-type .explore-item {
            left: 10px;
        }

        .uk-card {

            &.right {
                left: 10px;
            }

            &.left {
                right: 10px;

                .uk-card-body {
                    padding-left: 20px;
                }
            }
        }
    }
}
