.explore-item {
    padding-bottom: 30px;

    a {
        z-index: 1;
    }

    .uk-card-body {
        padding: 30px 0 0;
    }

    .uk-card-media-top {
        background-color: $black;
        overflow: hidden;

        img {
            transition: 1s;
            max-width: none;
            backface-visibility: hidden;
            width: 100%;
        }
    }

    .uk-card-title {
        font-family: $font-default;
        font-weight: $bold;
        margin-top: 10px;

        &+* {
            margin-top: 35px;
        }
    }

    @include hover {
        .uk-card-media-top {
            img {
                opacity: .7;
                transform: scale3d(1.1, 1.1, 1);
            }
        }

        .uk-button>span:last-of-type {
            &::after {
                width: 18px;
            }

            svg {
                left: 18px;
            }
        }
    }
}
