.explore-item {

    a {
        z-index: 1;
    }

    .uk-card-body {
        padding: 0;

        .label {
            margin: 30px 0 10px;
            display: block;
        }

        >.uk-card-title {
            margin-top: 25px;
        }

        .label+.uk-card-title {
            margin-top: 0;
        }

        >.uk-list {
            li {
                margin: 0 0 5px;
                max-width: 100%;

                &:not(:last-of-type) {
                    margin-right: 30px;
                }
            }

            a {
                max-width: 100%;
                position: relative;
                @include text-truncate;

                &::after {
                    display: block;
                    position: absolute;
                    content: '';
                    height: 2px;
                    background-color: $green-pastel;
                    opacity: 1;
                    transition: $nbSec ease-in-out;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                }

                @include hover {
                    color: $turquise;

                    &::after {
                        opacity: 1;
                    }
                }
            }

            .label {
                margin: 0 0 0 10px;
            }

            svg {
                width: 20px;
                height: 20px;
                fill: $blue;
            }
        }
    }

    .uk-card-media-top {
        background-color: $black;
        overflow: hidden;

        .uk-background-cover {
            transition: 1s;

            &::after {
                background-color: rgba($black, .3);
                position: absolute;
                left: 0;
                content: '';
                top: 0;
                bottom: 0;
                width: 100%;
                opacity: 0;
                transition: 1s;
            }
        }

        img {
            transition: 1s;
            max-width: none;
            backface-visibility: hidden;
            width: 100%;
        }
    }

    .uk-card-title {
        font-family: $font-default;
        font-weight: $bold;

        &+* {
            margin-top: 20px;
        }
    }

    .uk-button-text {
        display: inline-block;
        font-size: 21px;
        line-height: 1.3em;
        font-weight: normal;
        margin-top: 20px;
        padding: 0;
        color: $blue-light;

        &::after {
            position: absolute;
            content: '';
            width: 80px;
            height: 4px;
            top: -10px;
            left: 0;
            background-color: $blue-light;
        }

        >span:last-of-type {
            &::after {
                background-color: $blue-light;
            }

            .uk-svg,
            .uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
                fill: $blue-light;
            }
        }

        @include hover {
            >span:last-of-type {
                &::after {
                    width: 18px;
                }

                svg {
                    left: 18px;
                }
            }
        }
    }

    @include hover {
        .uk-card-media-top {
            img {
                opacity: .7;
                transform: scale3d(1.1, 1.1, 1);
            }

            .uk-background-cover {
                transform: scale(1.1);

                &::after {
                    opacity: 1;
                }
            }
        }

        .uk-button-default>span:last-of-type {
            &::after {
                width: 18px;
            }

            svg {
                left: 18px;
            }
        }
    }

    @media (min-width: $breakpointTabletPortrait) {
        .uk-button-text {
            margin-top: 40px;
            font-size: 28px;
        }
    }

    @media (min-width: $breakpointLarge) {
        .uk-card-body>.uk-list a::after {
            opacity: 0;
        }
    }
}
