.fixed-nav {
    padding: 0 20px;
    margin-bottom: 30px;

    @media (min-width: $breakpointTabletPortrait) {
        padding: 0 40px;
    }
}

.fixed-nav-wrap {
    padding: 23px 20px 10px;
    background-color: $turquise-light;

    ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    li {
        margin-bottom: 13px;

        &:not(:last-of-type) {
            margin-right: 30px;
        }

        a {
            color: $blue;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                display: inline-block;
                height: 2px;
                width: 100%;
                bottom: -1px;
                opacity: 0;
                transition: $nbSec;
                transform: scale(0, 1);
                background-color: $blue;
            }

            @include hover {
                &::after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    @media (min-width: $breakpointMedium) {
        padding: 23px 40px 10px 70px;
    }
}
