.instagram-section {
    padding: 60px 0;

    .uk-button-default {
        border-color: $blue;
        padding: 14px 38px;

        .font-instagram {
            &::after {
                display: none;
            }

            &::before {
                font-size: 24px;
                color: $green-pastel;
            }
        }

        @include hover {
            background-color: $blue-hover;

            >span:first-of-type {
                color: $white;
            }
        }
    }

    ul {
        margin: 40px 0 57px;
    }

    .uk-card {
        a {
            svg {
                bottom: 20px;
                fill: $white;
                width: 20px;
                height: 20px;
                left: 20px;
                position: absolute;
            }
        }

        >span.uk-position-cover {
            transition: 1s ease;
        }

        &.large {
            min-height: 297px;
        }

        &.medium {
            min-height: 325px;
        }

        &.small {
            min-height: 202px;
        }

        @include hover {
            >span.uk-position-cover {
                transform: scale(1.1);
            }
        }
    }
}
