.listing-business {
    margin-bottom: 60px;

    .uk-background-cover {
        display: block;
        min-height: 330px;

        span[data-uk-tooltip] {
            bottom: 22px;
            height: 20px;
            position: absolute;
            right: 17px;
            width: 20px;

            svg {
                fill: $white;
                width: 20px;
                height: 20px;
                left: 0;
                line-height: 1;
                position: absolute;
                top: 0;
            }
        }
    }

    img {
        &.uk-position-top-center {
            transform: translate(-50%, -50%);
        }
    }

    @media (min-width: $breakpointMedium) {
        .uk-background-cover {
            min-height: 596px;
        }
    }
}

.listing-business-inner {
    padding: 105px 20px 60px;

    >.uk-text-center {
        margin-bottom: 30px;
    }

    .uk-list>*>ul,
    .uk-list>:nth-child(n+2) {
        margin-top: 0;
    }

    .uk-grid>div>ul>li {
        border-bottom: 2px solid $gray-warm;
        padding: 15px 15px 12px;

        >div:last-of-type {
            padding-left: 40px;
        }

        span {
            display: block;

            &.uk-text-bold {
                margin-bottom: 5px;
            }
        }

        svg {
            width: 24px;
            height: 24px;
            margin-right: 15px;
            fill: $blue;
        }

        &:first-of-type {
            border-top: 2px solid $gray-warm;
        }

        .label,
        a {
            line-height: 1.7em;
        }

        .uk-list {

            li {
                margin: 0 0 3px;
                border-radius: 3px;
                padding: 0 10px;
                line-height: 1.7em;

                a {
                    @include hover {
                        svg {
                            fill: $green-pastel;
                        }
                    }
                }

                svg {
                    transition: $nbSec ease-in-out;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    @media (min-width: $breakpointMedium) {
        padding: 105px 50px 60px;
    }

    @media (max-width: $breakpointSmallMax) {

        *+.uk-grid-margin,
        .uk-grid+.uk-grid,
        .uk-grid>.uk-grid-margin {
            margin-top: 0;
        }

        >.uk-grid>div:not(:first-of-type) ul li:first-of-type {
            border-top: 0;
        }

        a {
            @include text-truncate;
            max-width: 100%;
        }
    }
}

.listing-business-map {
    height: 366px;
    max-height: 366px;
}
