.map-card {
    list-style-type: none;
    background-color: $white;
    max-width: 280px;
    box-shadow: 0 10px 30px rgba($blue, .3);
    z-index: 3;
    position: absolute;
    top: 60px;
    right: 20px;

    >button {
        right: 20px;
        top: 20px;
        display: inline-block;
        width: 18px;
        height: 18px;

        svg {
            position: absolute;
            width: 18px;
            height: 18px;
            fill: $blue;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: $nbSec ease-in-out;
        }

        @include hover {

            svg {
                fill: $blue-light-hover;
            }
        }
    }

    .uk-card-body {
        padding: 20px 20px 25px;

        * {
            color: $blue;
        }

        p {
            opacity: 1;

            &:last-of-type {
                margin-bottom: 10px;
            }
        }
    }

    .uk-card-media-bottom {
        height: 183px;
    }

    @include hover {
        .uk-button-text {
            >span:last-of-type {
                &::after {
                    width: 18px;
                }

                svg {
                    left: 18px;
                }
            }

            .shape {
                animation: .35s drawShape 0s linear forwards;
            }
        }
    }

    @media (min-width: $breakpointTabletPortrait) {
        max-width: 320px;
        right: 40px;

        .uk-card-media-bottom {
            height: 215px;
        }
    }

    @media (min-width: $breakpointLarge) {
        right: 80px;
    }
}
