.newsletter-section {
    padding: 60px 0;
}

.newsletter-box {
    max-width: 1136px;
    background-color: $turquise-light;
    padding: 50px 0 65px;
    width: 100%;

    >img {
        top: 15px;
        right: -23px;
        z-index: 0;
        width: 196px;
    }
}

.newsletter-inner {
    position: relative;
    max-width: 890px;
    width: 100%;

    >span {
        font-size: 18px;
        line-height: 1.7em;
        color: $blue;
        font-family: $font-literata;
        display: block;
    }

    .uk-input:not(.uk-form-danger) {
        border-radius: 28px;
        border: 2px solid $blue;
        padding: 0 45px;
    }

    //sass-lint:disable class-name-format
    .InputfieldSubmit {
        margin-top: 35px;
    }

    .uk-button {
        background-color: $blue;
    }

    @media (max-width: $breakpointLarge) {
        form {
            padding: 0 20px;
        }
    }
}
