.useful-links {
    padding-bottom: 75px;

    &.visit {
        padding: 100px 0 50px;

        h2 {
            margin-bottom: 35px;
        }
    }

    ul {
        list-style-type: none;

        &:not(:first-of-type) {
            li:first-of-type a:not(.uk-button) {
                border-top: 0;
            }
        }

        li {
            min-height: 80px;

            &:first-of-type a:not(.uk-button) {
                border-top: 2px solid $gray-cold;
            }

            img {
                margin-right: 20px;
            }

            a {
                border-bottom: 2px solid $gray-cold;
                font-size: 20px;
                font-weight: $bold;
                line-height: 1.3em;
                padding: 26px 5px 23px 15px;
                color: $blue;
                width: 100%;

                svg:not(.uk-svg) {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    fill: $blue;
                    opacity: 0;
                    transition: $nbSec ease-in-out;
                    width: 40px;
                    height: 40px;
                }

                @include hover {
                    span {
                        color: $green-pastel;
                    }

                    svg {
                        opacity: 1;
                    }
                }
            }

            img+span {
                position: absolute;
                left: 80px;
                top: 50%;
                transform: translateY(-50%);
                transition: $nbSec ease-in-out;
                width: calc(100% - 125px);
            }
        }

        .uk-button-default {
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-radius: 0;
            justify-content: flex-start;
            font-family: $font-recoleta;
            font-size: 26px;
            line-height: 1.1em;
            font-weight: normal;

            @include hover {
                border-color: $gray-cold;
            }
        }
    }

    .uk-grid-column-medium,
    .uk-grid-medium {

        >.uk-grid-margin {
            margin-top: 0;
        }
    }

    @media (min-width: $breakpointSmall) {
        ul:not(:first-of-type) {
            li:first-of-type a:not(.uk-button) {
                border-top: 2px solid $gray-cold;
            }
        }
    }

    @media (min-width: $breakpointTabletPortrait) {
        &.visit {
            padding: 120px 0 50px;

            h2 {
                margin-bottom: 30px;
            }
        }

        ul li a {
            padding: 26px 45px 23px 15px;
        }
    }

    @media (min-width: $breakpointLarge) {
        &.visit {

            h2 {
                margin-bottom: 45px;
            }
        }
    }

    @media (max-width: $breakpointMediumMax) {
        ul {
            &:not(:last-of-type) {
                margin-bottom: 60px;
            }
        }
    }
}
