.visit-section {
    padding: 45px 0 60px;

    h2 {
        @include visually-hidden;
    }

    .nb-video {
        height: 407px;

        &::before {
            height: 110px;
            top: auto;
            opacity: .6;
        }
    }

    >.uk-container>.uk-flex-center {
        padding-top: 60px;
    }

    .uk-width-1-3,
    .uk-width-1-2 {
        .uk-card {
            padding-left: 40px;
        }
    }
}

.visit-seasons {
    padding: 60px 0 110px;
}

.visit-inner {
    max-width: 1136px;

    >h2 {
        margin-bottom: 30px;
    }

    >p:first-of-type {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .uk-width-3-5 {
        width: 54.84%;

        .uk-card {
            height: 306px;
        }
    }

    .uk-width-2-5 {
        width: 45.15%;

        .uk-card {
            height: 456px;
        }
    }

    .uk-width-1-5 {
        background-color: $white;
    }

    //check???
    .entry-item .uk-card-body::after {
        background-color: rgba($black, 0);
    }
}

.visit-experience {
    background-color: $white-flag;
    padding: 100px 0 110px;
}
