/* Walk filter */
.walk-filter {
    padding: 75px 0 95px;
    background-color: $turquise-light;
    position: relative;

    .select-walk-wrap .uk-button-large {
        border-radius: 28px;
        border: 2px solid $blue;
        transition: 256ms ease-in-out;

        svg {
            fill: $blue;
            width: 10px;
            height: 18px;
            position: absolute;
            top: 50%;
            right: 36px;
            transition: $nbSec ease-in-out;

            &:first-of-type {
                transform: translateY(calc(-50% - 5px));
            }

            &:last-of-type {
                transform: translateY(calc(-50% + 5px));
            }
        }

        @include hover {
            svg {
                fill: $blue-light;

                &:first-of-type {
                    transform: translateY(calc(-50% - 6px));
                }

                &:last-of-type {
                    transform: translateY(calc(-50% + 6px));
                }
            }
        }
    }

    .uk-button-text {
        min-height: 38px;
        line-height: 38px;
        padding: 0 23px;

        svg {
            width: 100px;
        }

        .uk-svg:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
            stroke: $gray-cold-darkest;
        }

        .shape {
            width: 100px;
            stroke-dasharray: 58 402;
            stroke-dashoffset: -584;
        }

        >span {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            font-weight: $bold;
            margin-left: 0;

            &::after {
                display: none;
            }
        }
    }
}

/* Walk bottom with text */
.walk-bottom {
    padding-top: 15px;

    span {
        display: block;
        font-weight: normal;

        >span {
            display: inline-block;
        }
    }

    @media (max-width: $breakpointSmall) {
        span {
            font-size: 16px;
        }
    }
}


/* Walk search */
.walk-search {
    padding-bottom: 30px;

    @media (max-width: $breakpointLarge) {
        >.uk-container {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    @media (max-width: 767px) {
        >.uk-container {
            padding-left: 35px;
            padding-right: 35px;
        }
    }
}

/* Walk forms */
.walk-forms {
    padding: 20px 0 50px;

    >.uk-grid {
        margin-left: -30px;

        >* {
            padding-left: 30px;
        }
    }

    .label.uk-text-uppercase {
        margin-bottom: 10px;
    }

    .label {
        padding-left: 30px;
        display: flex;
        width: 100%;

        .uk-checkbox {
            display: inline-block;
        }
    }

    .uk-button-large {
        background-color: $white;
        height: 56px;
        border-radius: 28px;
        padding: 13px 36px 15px 68px;
        color: $blue;
        font-weight: normal;
        position: relative;
        width: 100%;

        &::before,
        img {
            position: absolute;
            top: 50%;
        }

        &::before {
            left: 20px;
            font-size: 25px;
            transform: translateY(-57%);
        }

        img {
            transform: translateY(-50%);
            left: 29px;
            height: auto;
        }

        &.uk-open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
            border-color: $blue;
            box-shadow: 0 5px 12px rgba($black, .15);
            position: relative;

            >span {
                opacity: 1;
                transition: 0s;
            }
        }

        >span {
            opacity: 0;
            background-color: $white;
            border-left: 2px solid $blue;
            border-right: 2px solid $blue;
            position: absolute;
            content: '';
            height: 14px;
            width: calc(100% + 4px);
            top: 100%;
            left: -17px;
            transition: .4s;
            z-index: 1021;

            //TODO: check this!!!
            // &::before,
            // &::after {
            //     position: absolute;
            //     bottom: -6px;
            //     font-family: 'svgicons';
            //     color: $white;
            //     opacity: 0;
            //     transition: 256ms ease-in-out;
            // }

            // &::before {
            //     content: '\E00E';
            //     right: 100%;
            // }

            // &::after {
            //     content: '\E00F';
            //     left: 100%;
            // }
        }
    }

    // .uk-dropdown label,
    // .sort-button {
    //     border: 0;
    //     border-radius: 0;
    //     display: block;
    //     font-weight: 500;
    //     font-size: 14px;
    //     color: $black;
    //     width: 100%;
    //     height: 100%;
    //     white-space: nowrap;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     text-align: left;
    //     text-transform: none;
    // }

    .uk-dropdown {
        background-color: $white;
        padding: 11px 0 20px;
        box-shadow: 0 10px 12px rgba($black, .15);
        max-width: calc(100% - 20px);
        border: 2px solid $blue;
        min-width: 373px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        overflow: hidden;

        li {
            padding: 0;
            margin: 0;
        }

        .nb-checkbox {
            margin: 0 10px 0 0;

            svg {
                left: 30px;
                top: 37%;
            }
        }

        label {
            padding: 19px 20px 9px 30px;
        }
    }

    .sort-button {
        padding: 8px 20px 5px 29px;
        position: relative;
        align-items: center;

        >span {
            position: absolute;
            left: 23px;
            top: 50%;
            transform: translateY(-50%);
        }

        svg {
            width: 26px;
            height: 26px;
            margin-right: 14px;
            fill: $blue;
        }
    }

    .select-btns {
        padding: 20px 35px 0;
    }

    @media (min-width: $breakpointSmall) {
        .uk-button-secondary {
            margin-left: 20px;
        }
    }

    @media (max-width: $breakpointLarge) {
        >.uk-grid {
            margin-left: -10px;

            >* {
                padding-left: 10px;
            }
        }

        .uk-button {
            font-size: 15px;

            &::after {
                right: 20px;
            }
        }

        .uk-dropdown {
            max-width: 100%;
        }
    }

    @media (max-width: 767px) {
        padding: 20px 0 35px;

        >.uk-grid {
            flex-direction: column;
            margin-left: 0;

            >* {
                width: 100%;
                padding-left: 0;
            }
        }

        >*+.uk-grid-margin,
        >.uk-grid+.uk-grid,
        >.uk-grid>.uk-grid-margin {
            margin-top: 20px;
        }

        .uk-button {
            padding: 13px 25px 15px 60px;

            &::after {
                right: 17px;
            }

            span {
                display: none;
            }
        }

        .uk-dropdown {
            min-width: auto;
            // border-top: 1px solid #e0dbe4;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-top: 0;

            label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .select-btns .apply-btn {
            padding: 12px 30px 10px 6px;
            margin-left: 3px;

            &::before {
                right: 15px;
            }
        }
    }
}

.select-walk-box {
    &:first-of-type {
        .uk-button img {
            width: 26px;
        }

        .uk-open>span::after {
            opacity: 1;
        }

        // .label-checked {
        //     background-color: #eaeac6;
        // }
    }

    &:last-of-type {
        .uk-button {
            &.uk-open {
                border-bottom-color: transparent;
            }

            img {
                width: 26px;
            }
        }

        .uk-dropdown {
            right: 1px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-top: 0;
            margin-top: 0;
        }

        .label-checked {
            background-color: #abdfec;
        }
    }

    @media (max-width: $breakpointLarge) {
        &:last-of-type .uk-dropdown {
            right: 0;
        }
    }

    @media (max-width: 767px) {
        &:last-of-type .uk-dropdown {
            border-top-left-radius: 0;
        }
    }
}

/* Walk section */
// .walk-section {
//     background-color: #b2e0f1;
// }

/* Walk results */
.walk-results {
    // display: none;

    span {
        display: block;
        text-align: center;
        font-weight: normal;

        >span {
            display: inline-block;
            margin-bottom: 3px;
        }
    }

    .route-message {
        display: none;
        margin-top: 10px;
    }

    ul {
        margin-bottom: 0;
        padding-bottom: 5px;
        padding-left: 0;

        li {
            margin-bottom: 7px;
            // display: none;
            display: block;

            &:not(:last-of-type) {
                margin-right: 10px;

                button {
                    @include text-truncate;
                    position: relative;
                    padding: 9px 45px 9px 23px;
                    border-color: $blue;

                    svg {
                        fill: $blue;
                        width: 10px;
                        height: 10px;
                        right: 20px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    @include hover {
                        background-color: $blue;
                        color: $white;

                        svg {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $breakpointLarge) {
        ul li:not(:last-of-type) button {
            padding: 10px 13px 10px 25px;
            max-width: 280px;
        }
    }

    @media (max-width: 767px) {
        span {
            font-size: 16px;
        }

        li {
            &:last-of-type {
                display: flex;
                width: 100%;
                margin-left: 0;
                justify-content: center;
                margin-top: 10px;
            }

            button {
                font-size: 13px;
            }
        }
    }
}

/* Walk list */
.walk-list {

    .walk-item {
        margin-bottom: 40px;

        &:not(:nth-of-type(-n + 4)) {
            display: none;
        }

        &[data-difficulty='1'] {
            .uk-card {
                border-color: $green;
            }

            .walk-details .uk-flex:last-of-type svg {
                fill: $green;
            }
        }

        &[data-difficulty='2'] {
            .uk-card {
                border-color: $yellow-alt;
            }

            .walk-details .uk-flex:last-of-type svg {
                fill: $yellow-alt;
            }
        }

        &[data-difficulty='3'] {
            .uk-card {
                border-color: $orange-dark;
            }

            .walk-details .uk-flex:last-of-type svg {
                fill: $orange-dark;
            }
        }

        &[data-difficulty='4'] {
            .uk-card {
                border-color: $red-danger;
            }

            .walk-details .uk-flex:last-of-type svg {
                fill: $red-danger;
            }
        }

        &[data-difficulty='5'] {
            .uk-card {
                border-color: $red;
            }

            .walk-details .uk-flex:last-of-type svg {
                fill: $red;
            }
        }
    }

    ul {
        margin-bottom: 10px;
    }

    .uk-card {
        border-bottom-style: solid;
        border-bottom-width: 4px;
        min-height: 480px;
        position: relative;
        box-shadow: none;
        transition: $nbSec ease-in-out;

        >a {
            z-index: 1;
        }

        @include hover {
            box-shadow: 0 13px 20px rgba($black, .2);
        }
    }

    .uk-card-body {
        background-color: $white;
        padding: 20px 22px 13px 25px;
    }

    .uk-card-title {
        color: $blue;
        margin-bottom: 12px;
    }

    .walk-details {
        .uk-flex {
            margin-bottom: 15px;
            padding-left: 35px;

            &:first-of-type {
                svg {
                    width: 24px;
                    height: 24px;
                    fill: $blue;
                }
            }

            &:last-of-type {
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .label {
            line-height: 1.7em;
        }
    }

    @media (max-width: $breakpointLarge) {
        >.uk-container {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    @media (max-width: 767px) {
        padding: 40px 0 75px;

        .walk-item {
            margin-bottom: 20px;
        }

        >.uk-container {
            padding-left: 30px;
            padding-right: 30px;
        }

        .uk-card-body {
            padding: 30px 23px 28px 15px;
        }
    }
}
