//----------  typography
//------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-recoleta;
	font-weight: normal;
	line-height: 1.1em;
	color: $blue;

	&.alt {
		font-family: $font-default;
	}

	&:not(.alt),
	&:not(.alt) {
		line-height: 1.3em;
	}
}

h1 {
	font-size: 34px;

	@media (min-width: $breakpointTabletPortrait) {
		font-size: 67px;
	}
}

h2 {
	font-size: 34px;

	@media (min-width: $breakpointTabletPortrait) {
		font-size: 44px;
	}
}

h3 {
	font-size: 34px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
	line-height: 1.3em;
	margin-bottom: 20px;
}

h6 {
	font-size: 18px;
	line-height: 1.3em;
}

.hero-title {
	font-size: 74px;
	line-height: 1.1em;
	color: $blue;
	font-family: $font-recoleta;
	margin-bottom: 25px;
}

.uk-card-title {
	font-size: 26px;
	line-height: 1.3em;
	color: $blue;

	&.large {
		font-size: 34px;
		line-height: 1.1em;
	}

	&.medium {
		font-size: 34px;
		line-height: 1.1em;
	}

	&.midi {
		font-size: 20px;
	}

	&.small {
		font-size: 18px;
	}

	&.alt {
		font-family: $font-default;
		font-feature-settings: 'liga'off;
	}

	@media (min-width: $breakpointTabletPortrait) {
		&.large {
			font-size: 44px;
		}
	}
}

label,
.label {
	font-family: $font-recoleta;
	font-size: 18px;
	color: $blue;
	opacity: .8;
	line-height: 1.3em;

	&.xxlarge {
		font-size: 36px;
		line-height: 1.1em;
	}

	&.xlarge {
		font-size: 26px;
		line-height: 1.1em;
	}

	&.large {
		font-size: 20px;
	}

	&.medium {
		font-size: 16px;
	}

	&.small {
		font-size: 14px;
	}

	&.xsmall {
		font-size: 12px;
	}

	&.alt {
		font-feature-settings: 'liga'off;
		font-family: $font-default;
		opacity: 1;
	}

	&.opacity-off {
		opacity: 1;
	}
}

.uk-text-lead {
	font-family: $font-default;
	color: $blue;
	font-size: 28px;
	line-height: 1.7em;
}

.nb-capital-letter {
	font-size: 105px;
	line-height: inherit;
	font-weight: inherit;
	float: left;
	padding: 0 10px 45px 0;
	top: 20px;
	position: relative;
}

p {
	font-family: $font-literata;
	font-size: 18px;
	color: $blue;
	line-height: 1.7em;

	>a:not(.uk-accordion-title) {
		color: $blue;
		font-weight: normal;
		position: relative;
		display: inline-block;
		z-index: 0;

		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: 0;
			background-color: $green-pastel;
			transition: inherit;
		}

		@include hover {
			text-decoration: none;
			color: $white;

			&::after {
				height: 100%;
			}
		}
	}
}

p,
blockquote {
	a:not(.uk-accordion-title) {
		color: $blue;
		font-weight: normal;
		position: relative;
		display: inline-block;
		z-index: 0;

		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: 0;
			background-color: $green-pastel;
			transition: inherit;
		}

		@include hover {
			text-decoration: none;
			color: $white;

			&::after {
				height: 100%;
			}
		}
	}
}

.uk-text-large,
.uk-text-small {
	&.alt {
		font-family: $font-default;
	}
}

.uk-text-large {
	font-weight: $light;
	font-size: 21px;
	line-height: 1.7em;
	color: $blue;
}

.uk-text-small {
	font-size: 16px;
	line-height: 1.7em;

	&.xsmall {
		font-size: 12px;
	}
}

blockquote {
	padding: 15px 10px 10px 30px;
	margin: 40px 0 25px;
	position: relative;
	font-style: normal;

	&.alt {
		padding: 55px 0 22px 128px;

		p:last-of-type {
			margin-bottom: 40px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 84px;
			width: 84px;
		}

		>span[class*='icon-quote'] {
			left: 55px;
			top: 53px;
			z-index: 1;

			svg {
				fill: $blue;
				width: 50px;
				height: 50px;
				left: auto;
				top: auto;
			}
		}

		.label {
			display: block;

			&:first-of-type {
				font-family: $font-literata;
				margin-bottom: 3px;
			}
		}
	}

	p,
	span:not(.quote) {
		color: $blue;
	}

	p {
		margin-top: 0;
		font-family: $font-default;
		font-size: 28px;
		font-weight: $light;
		line-height: 1.7em;

		>span {
			box-shadow: inset 0 -1px $gray-cold;
			font-family: inherit;
			font-size: inherit;
			font-style: inherit;
			font-weight: inherit;
			line-height: inherit;
		}

		&:last-of-type {
			margin-bottom: 10px;
		}
	}

	// span:not(.quote) {
	// 	font-style: normal;
	// 	line-height: 1.7em;
	// 	font-size: 18px;
	// }

	>span[class*='icon-quote'] {
		position: absolute;
		width: 130px;
		height: 100px;
		left: 0;
		top: 0;
		z-index: -1;

		svg {
			fill: $blue-bright-light;
			width: 115px;
			height: 86px;
			position: absolute;
			left: -19px;
			top: -15px;
		}
	}

	&.quote-green>span[class*='icon-quote'] {
		svg {
			fill: $turquise-light;
		}
	}

	@media (min-width: $breakpointSmall) {
		padding: 10px 0 10px 60px;
	}
}

.uk-list-disc,
ol {
	font-family: $font-literata;
	color: $blue;
	font-size: 18px;
	line-height: 1.7em;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 35px;

	li {
		padding-left: 28px;
		margin-bottom: 10px;
		position: relative;
	}
}

.uk-list-disc {
	&.alt * {
		font-family: $font-default;
	}

	li {
		margin-bottom: 10px;

		&::before {
			position: absolute;
			left: 0;
			top: 13px;
			width: 6px;
			height: 6px;
			background-color: $blue;
			border-radius: 50%;
			content: '';
			list-style-type: none;
		}

		a::after {
			left: 24px;
			width: calc(100% - 24px);
		}
	}

	strong {
		font-weight: $bold;
	}
}

ol {
	padding-left: 0;
	counter-reset: item;

	>li {

		&:last-of-type {
			margin-bottom: 25px;
		}

		strong {
			font-weight: $bold;
		}

		&::before {
			content: counter(item) '. ';
			counter-increment: item;
			left: 0;
			position: absolute;
			font-weight: normal;
		}
	}
}

img {
	max-width: 100%;
}

.uk-alert {
	border-radius: 6px;
	font-family: $font-default;
	font-size: 16px;
	color: $blue;
	line-height: 1.3em;
	padding: 20px 32px;

	strong {
		font-weight: $bold;
	}

	a:not([class]) {
		text-decoration: none;
	}

	&.uk-alert-primary {
		background-color: $blue-bright-light;
	}

	&.uk-alert-success {
		background-color: $turquise-light;
	}

	&.uk-alert-warning {
		background-color: $orange-light;
	}

	&.uk-alert-danger {
		background-color: $red-light;

		a::after {
			background-color: $orange-dark;
		}
	}

	@include hover {
		a:not([class]) {
			text-decoration: none;
		}
	}
}

.uk-text-meta {
	color: $gray-dark;
}
