.nb-author {
    padding-top: 20px;
    position: relative;

    * {
        color: $blue;
    }

    a {
        z-index: 1;
    }

    img {
        width: 48px;
        height: auto;
        margin-right: 25px;
        animation: imagePulsOut .5s linear forwards;
    }

    @include hover {
        img {
            animation: imagePuls .5s linear forwards;
        }
    }

    @media (min-width: $breakpointXmedium) {
        position: absolute;
        margin-right: 40px;
        padding-top: 30px;
        top: 0;
        max-width: 300px;
        width: 100%;
        right: 100%;

        img {
            margin-left: 15px;
        }
    }

    @media (max-width: $breakpointXmediumMin) {
        display: inline-flex;
        justify-content: flex-start;
        margin-bottom: 20px;

        >.uk-flex {
            flex-direction: row-reverse;
        }
    }
}
