.nb-author {
    width: 100%;
    padding-top: 20px;

    * {
        color: $blue;
    }

    a {
        z-index: 1;
    }

    img {
        width: 48px;
        height: auto;
        margin-left: 15px;
        animation: imagePulsOut .5s linear forwards;
    }

    @include hover {
        img {
            animation: imagePuls .5s linear forwards;
        }
    }

    @media (min-width: $breakpointXmedium) {
        position: absolute;
        margin-right: 40px;
        padding-top: 30px;
        top: 0;
        max-width: 300px;
        right: 100%;
    }

    @media (max-width: $breakpointXmediumMin) {
        justify-content: flex-start;
        margin-bottom: 30px;
    }
}
