.nb-bio {
    border-top: 1px solid $gray-cold;
}

.nb-bio-inner {
    background-color: $white-flag;
    padding: 50px 0 40px;

    img {
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
    }

    .uk-button-text {
        margin-top: 5px;
        min-height: 38px;
        padding: 0 20px 0 30px;

        span::after {
            display: none;
        }

        .shape {
            width: 136px;
            stroke-dasharray: 82 403;
            stroke-dashoffset: -648;
            stroke: $gray-cold-dark;
        }
    }
}
