.nb-block {
	clear: both;
	margin: $nbSpace 0;

	&:first-of-type {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	&-content {

		p,
		li {
			>a:not(.uk-accordion-title) {
				color: $blue;
				font-weight: normal;
				position: relative;
				display: inline-block;
				z-index: 0;

				&::after {
					content: '';
					position: absolute;
					z-index: -1;
					width: 100%;
					height: 2px;
					left: 0;
					bottom: 0;
					background-color: $green-pastel;
					transition: inherit;
				}

				@include hover {
					text-decoration: none;
					color: $white;

					&::after {
						height: 100%;
					}
				}
			}
		}

		h3 {
			margin-bottom: 28px;
		}

		.uk-list-disc {
			li a::after {
				left: 24px;
				width: calc(100% - 24px);
			}
		}

		figure {
			display: table;
			margin-top: 0;
			outline: none;

			a {
				cursor: pointer;
				display: block;
				width: 100%;
				position: relative;

				>span {
					position: absolute;
					bottom: 10px;
					right: 10px;
					width: 40px;
					height: 40px;
					transition: $nbSec ease-in-out;
					background-color: $white;
					opacity: .3;
					border-radius: 50%;

					&::before {
						color: $blue;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						font-size: 22px;
					}
				}

				@include hover {
					>span {
						opacity: 1;
					}
				}
			}

			img {
				display: block;
				height: auto;
				width: 100%;

				@media (max-width: $breakpointMobile) {
					width: 100%;
				}
			}
		}

		figcaption {
			caption-side: bottom;
			display: table-caption;
			font-size: 15px;
			line-height: 1.7em;
			padding: 10px 0;
			text-align: center;
			color: $blue;

			span {
				font-size: 12px;
				line-height: 1.7em;
				opacity: .6;
				display: inline-block;
				margin-left: 20px;
			}
		}

		.align_right {
			float: right;
			margin-bottom: 20px;
			margin-left: $nbSpace;
		}

		.align_left {
			float: left;
			margin-bottom: 20px;
			margin-right: $nbSpace;
		}

		.align_center {
			clear: both;
			margin: 40px auto 20px;
			text-align: center;
		}

		@media (max-width: $breakpointMobile) {

			.align_right,
			.align_left,
			.align_center {
				clear: both;
				float: none;
				margin: $nbSpaceSmall 0;
				width: 100%;
			}
		}

		.TextformatterVideoEmbed {
			margin: $nbSpace 0;
		}
	}

	&-gallery {

		.nb-gallery-images {
			margin: 0 -10px;
			overflow: hidden;

			.nb-gallery-row {
				display: table;
				width: 100%;

				.nb-gallery-image {
					border: 5px solid transparent;
					display: table-cell;
					margin: 0;
					outline: none;
					overflow: hidden;
					position: relative;
					vertical-align: top;
					transition: $nbSec ease-in-out;

					>span {
						position: absolute;
						bottom: 5px;
						right: 5px;
						width: 20px;
						height: 20px;
						transition: $nbSec ease-in-out;
						background-color: $white;
						opacity: .3;
						border-radius: 50%;

						&::before {
							color: $blue;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							font-size: 14px;
						}
					}

					img {
						height: auto;
						width: 100%;
						vertical-align: middle;
						transition: $nbSec;
					}

					@include hover {
						transform: scale(.95);

						>span {
							opacity: 1;
						}
					}
				}
			}

			.uk-container-expand & {
				margin: 0 $nbGutterXsmall;
			}

			@media (min-width: $breakpointSmall) {

				.nb-gallery-row .nb-gallery-image {
					border: 10px solid transparent;

					>span {
						bottom: 10px;
						right: 10px;
						width: 40px;
						height: 40px;

						&::before {
							font-size: 22px;
						}
					}
				}
			}

			@media (min-width: $breakpointMedium) {

				.nb-gallery-row .nb-gallery-image {
					border: 20px solid transparent;
				}
			}
		}

		.nb-gallery-caption {
			margin-bottom: 10px;
			font-size: 15px;
			line-height: 1.7em;
			color: $blue;

			span {
				font-size: 12px;
				line-height: 1.7em;
				opacity: .7;
				display: inline-block;
				margin-left: 20px;
			}
		}
	}

	&-slideshow {
		h2 {
			margin-bottom: 40px;
		}

		.uk-slideshow-items {

			li,
			a,
			img {
				height: 100%;
			}
		}

		.uk-overlay-primary {
			background-color: transparent;
			padding: 20px;
			position: relative;

			&::before {
				background: $hero-overlay;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 105px;
				content: '';
				position: absolute;
				z-index: 0;
			}

			span {
				position: relative;
				z-index: 1;
				color: $white;
				font-size: 15px;
				line-height: 1.7em;
			}
		}

		.uk-slidenav {
			border-color: $white;
			transition: $nbSec ease-in-out;

			svg {
				transform: translate(-50%, -50%);
				position: absolute;
				left: 50%;
				top: 50%;
			}

			&:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
				stroke: $white;
				transition: $nbSec ease-in-out;
			}

			@include hover {
				background-color: $white;
				text-decoration: none;

				&:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
					stroke: $white;
				}
			}
		}

		.uk-slidenav-previous {
			transform: translateY(-50%) translateX(-20px) translateX(65%);
		}

		.uk-slidenav-next {
			transform: translateY(-50%) translateX(20px) translateX(-65%);
		}

		@media (max-width: $breakpointSmall) {
			.uk-slidenav {
				width: 48px;
				height: 48px;
			}
		}

		@media (min-width: $breakpointLarge) {
			.uk-slidenav {
				border-color: $blue;

				&:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
					stroke: $blue;
				}

				@include hover {
					background-color: $blue;

					&:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
						stroke: $white;
					}
				}
			}

			.uk-slidenav-previous {
				transform: translateY(-50%) translateX(-20px) translateX(-100%);
			}

			.uk-slidenav-next {
				transform: translateY(-50%) translateX(20px) translateX(100%);
			}
		}
	}

	&-form {
		h2 {
			margin-bottom: 55px;
		}

		.nb-prepend,
		.nb-description,
		.nb-note,
		.nb-append {
			display: block;
			color: $blue;
			line-height: 1.7em;
		}

		.nb-prepend,
		.nb-append,
		.nb-note {
			font-size: 14px;
		}

		.nb-prepend {
			margin-top: 3px;
		}

		.nb-description {
			font-size: 16px;
			margin-bottom: 7px;
		}

		.nb-note {
			opacity: .7;
		}

		.nb-form-content {
			position: relative;

			ul {
				margin: 0 0 $nbGutterSmall;
				padding: 0;

				li {
					display: inline-block;
					list-style: none;
					width: 100%;
				}
			}

			.InputfieldRadiosFloated {

				li {
					padding-right: 1em;
					width: auto;
				}
			}
		}

		.uk-form-stacked label,
		label,
		.uk-form-label {
			margin-bottom: 10px;
			font-family: $font-default;
			text-transform: uppercase;
			font-weight: $bold;
			color: $blue;
			font-size: 14px;
			line-height: 1.3em;
			opacity: 1;
		}

		.InputfieldRadio label {
			font-size: 16px;
			cursor: pointer;
		}

		label {

			i {
				margin-right: $nbGutterSmall;
			}
		}

		.uk-form-controls.uk-grid-medium {
			margin-left: -70px;
			margin-top: 12px;

			>* {
				padding-left: 70px;
			}
		}

		.uk-radio {

			+span {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}

		.uk-button-primary {
			background-color: $blue;
			min-height: 55px;
			font-size: 16px;
			border: 2px solid $blue;

			span:last-of-type {
				margin-left: 0;

				&::after {
					display: none;
				}
			}

			@include hover {
				background-color: $white;

				span {
					color: $blue;
				}
			}
		}

		.InputfieldToggle {

			.InputfieldToggleHelper {
				display: none !important;
			}
		}

		.nb-form-error {
			font-size: 0.875em;
			font-weight: 700;
			margin-bottom: $nbGutterSmall;

			.uk-icon {
				position: relative;
				top: -1px;
			}
		}

		.g-recaptcha {
			margin-bottom: 1rem;
		}

		@media (min-width: $breakpointLarge) {

			*+.uk-grid-margin,
			.uk-grid+.uk-grid,
			.uk-grid>.uk-grid-margin {
				margin-top: 30px;
			}
		}
	}

	&-embed {
		iframe {
			width: 100%;
		}
	}
}

.nb-no-border {
	border: 0 !important;
}

.nb-padding-medium {
	padding: 30px;
}
