.nb-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.bounce {
        font-size: 16px;
        font-weight: normal;
        text-transform: none;
    }

    .uk-checkbox:not(.uk-form-danger),
    svg {
        width: 26px;
        height: 26px;
        display: block;
    }

    .uk-checkbox:not(.uk-form-danger) {
        position: relative;
        background-color: $white;
        border: 0;
        margin: 0 15px 0 0;
        padding: 0;
        border-radius: 3px;
        transition: $nbSec;
        box-shadow: inset 0 0 0 2px $blue;
        min-height: 0;

        &:hover {
            box-shadow: inset 0 0 0 3px $blue-hover;
        }

        &:checked {
            box-shadow: inset 0 0 0 2px $blue;
        }
    }

    svg {
        pointer-events: none;
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: $blue;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1) translateZ(0);
    }

    &.bounce {
        stroke: $white;

        &+.bounce {
            margin-top: 15px;
        }

        .uk-checkbox:not(.uk-form-danger) {
            &:checked {
                box-shadow: inset 0 0 0 15px $blue;

                &+svg {
                    animation: bounce .4s linear .2s forwards;
                }
            }
        }

        svg {
            transform: scale(0) translateZ(0);
            stroke: $white;
        }
    }

    +span {
        display: inline-block;
        margin-left: $nbGutterSmall;
    }
}