.nb-credit {

	a {
		margin-top: 7px;
		display: block;
		text-align: center;//added for version 2

		@include hover {
			color: $nbRed;
			text-decoration: none;
		}

		img {
			height: 1rem;
			margin-left: $nbGutterXsmall;
		}
	}

	@media (min-width: $breakpointSmall) {
		a {
			margin-top: 15px;
		}
	}

	@media (min-width: $breakpointLarge) {
		text-align: right;

		a {
			// display: inline-block;
			text-align: right;//added for version 2
		}
	}
}
