.nb-credit {

	a {
		margin-top: 15px;

		@include hover {
			color: $nbRed;
			text-decoration: none;
		}

		img {
			height: 1rem;
			margin-left: $nbGutterXsmall;
		}
	}
	@media (min-width: $breakpointMedium) {
		text-align: right;
		a {
			display: block;
		}
	}
}
