.uk-lightbox {
    background-color: $white;

    * {
        color: $blue;
    }
}

.uk-lightbox-toolbar {
    background-color: $white;
}

.uk-lightbox-button {
    background-color: transparent;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid $blue;
    padding: 0;
    transition: $nbSec ease-in-out;

    svg polyline {
        transition: inherit;
    }

    @include hover {
        background-color: $blue;

        svg polyline {
            color: $white;
        }
    }
}

.uk-lightbox-caption {
    font-size: 16px;
    line-height: 1.7em;
}
