.nb-map {
    padding: 90px 0 100px;

    h2 {
        margin-bottom: 33px;
    }

    @media (min-width: $breakpointTabletPortrait) {
        padding: 40px 0 110px;

        h2 {
            margin-bottom: 40px;
        }
    }

    @media (min-width: $breakpointLarge) {
        padding: 70px 0 100px;
    }

    @media (max-width: $breakpointMediumMax) {
        .uk-container {
            padding: 0;
        }
    }
}

.map-box {
    overflow: hidden;
}

.map-select-btns {
    .uk-button-secondary {
        background-color: $blue;
        margin-left: 10px;
    }

    .uk-button-text {
        min-height: 38px;
        padding: 0 23px;

        svg {
            width: 100px;
        }

        .shape {
            width: 100px;
            stroke-dasharray: 58 402;
            stroke-dashoffset: -584;
        }

        >span {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            font-weight: $bold;
            margin-left: 0;

            &::after {
                display: none;
            }
        }
    }

    @media (min-width: $breakpointTabletPortrait) {
        .uk-button-secondary {
            margin-left: 20px;
        }
    }
}

.map {
    height: 560px;
    max-height: 560px;
    width: 100%;

    @media (min-width: $breakpointTabletPortrait) {
        height: 620px;
        max-height: 620px;
    }
}

.map-pins {
    z-index: 2;

    //probably needs to be deleted - just li style
    li {
        position: absolute;
        left: 50%;
        top: 50%;

        &:nth-of-type(2) {
            left: 75%;
            top: 75%;
        }
    }

    button {
        background-image: url('../../img/union-small.png');
        background-size: 45%;
        background-position: 60% 45%;
        background-repeat: no-repeat;
        clip-path: url(#mapPin);
        position: absolute;
        top: 40%;
        left: 50%;
        background-color: $blue;
        width: 86px;
        height: 95px;

        svg {
            position: absolute;
            top: 39%;
            left: 49%;
            transform: translate(-50%, -50%);
            width: 24px;
            height: 24px;
            fill: $white;
        }

        @include hover {
            transform: scale(1.2);
        }
    }
}

.map-totals {
    z-index: 1;

    li {
        background-color: $green;
        border-radius: 50%;
        color: $white;
        height: 40px;
        left: 50%;
        list-style-type: none;
        position: absolute;
        top: 50%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 10px 30px rgba($blue, .3);

        &:nth-of-type(2) {
            left: 75%;
            top: 75%;
        }
    }
}
