.nav-search {
	z-index: 1022;
	padding-top: 0;

	>button {
		line-height: 1.7em;
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgba($blue, .8);
		margin-right: 10px;

		svg {
			width: 20px;
			height: 20px;
			fill: rgba($blue, .8);
			transition: $nbSec ease-in-out;
		}

		@include hover {
			color: rgba($blue, 1);

			svg {
				fill: rgba($blue, 1);
			}
		}
	}

	.nav-search-box {
		background-color: $white;
		display: none;
		min-width: 0;
		width: 100%;
		z-index: 2;
		position: absolute;
		top: calc(100% + 2px);
		right: 0;
		padding: 20px 40px 50px;

		button.label {
			padding-right: 35px;
			padding-left: 17px;
			display: none;
			position: relative;

			&::after,
			&::before {
				position: absolute;
				content: '';
				background-color: $blue;
				width: 12px;
				height: 2px;
				right: 10px;
				top: 48%;
				transition: $nbSec ease-in-out;
			}

			&::after {
				transform: rotate(45deg);
			}

			&::before {
				transform: rotate(-45deg);
			}

			@include hover {
				color: $blue-light;

				&::before,
				&::after {
					background-color: $blue-light;
				}
			}
		}

		&.nav-search-box-active {
			display: block;
			opacity: 0;
			animation: searchOpacityIn .3s linear forwards;
		}
	}

	form {
		max-width: 100%;
		width: 100%;

		button[type='submit'] {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);

			svg {
				width: 20px;
				height: 20px;
				fill: $blue;
				margin-left: 8px;
			}
		}

		.uk-input {
			border-radius: 50px;
			min-height: 48px;
			padding: 0 40px 0 35px;

			@include placeholder {
				font-size: 14px;
				opacity: .7;
				color: inherit;
				top: -2px;
				position: relative;
			}
		}
	}

	@media (min-width: $breakpointTabletPortrait) {
		>button {
			justify-content: flex-end;
			margin-right: 0;
		}

		.nav-search-box {
			top: calc(100% + 18px);
		}
	}

	@media (min-width: $breakpointXlarge) {
		min-width: 150px;
		position: relative;
		padding-top: 25px;
		height: auto;

		>button svg {
			margin-left: 8px;
		}

		.nav-search-box {
			min-width: 560px;
			top: 15px;
			right: -20px;
			padding: 0;

			button.label {
				display: block;
			}

			>svg {
				display: none;
			}
		}

		form {
			max-width: 400px;
			margin-left: 10px;

			button[type='submit'] {
				transform: translateY(-46%);
			}
		}
	}

	@media (max-width: $breakpointLargeMax) {
		>button.label {
			z-index: 3;
			width: 48px;
			height: 48px;
			top: 15px;
			position: relative;

			span {
				display: none;
			}

			svg {
				width: 20px;
				height: 20px;
			}
		}

		.nav-search-box-active~button {
			opacity: 0;
		}

		.nav-search-box {
			>svg {
				background-color: $white;
				position: absolute;
				pointer-events: none;
				fill: $blue;
				width: 20px;
				height: 20px;
				bottom: calc(100% + 19px);
				transform: translateY(-50%);
				right: 40px;
				z-index: 3;
			}
		}
	}

	@media (max-width: $breakpointMedium) {
		.nav-search-box>svg {
			bottom: calc(100% + 10px);
		}
	}

	@media (max-width: $breakpointTabletPortraitMax) {
		>button.label {
			top: 0;
			position: static;
		}

		.nav-search-box {
			padding: 20px 20px 35px;

			>svg {
				right: 87px;
			}
		}

		form .uk-input {
			font-size: 16px;
			line-height: 48px;
		}
	}
}