.uk-navbar {
	padding-left: 20px;
	padding-right: 15px;

	.uk-navbar-dropdown {
		margin-top: 0;
	}

	.uk-navbar-nav {
		>li {
			>a:not(.label) {
				min-height: 0;
				font-size: 16px;
				text-transform: none;
				color: $blue;
				padding: 20px 20px 0;
				font-family: $font-recoleta;
			}

			>button,
			>a.label {
				opacity: 1;
				color: $blue;
				text-transform: none;
				min-height: 0;
			}
		}

		>.uk-parent {
			>a {
				.uk-icon {
					bottom: auto;
					left: $nbGutterSmall;
					position: relative;
					right: auto;
					top: auto;
					transform: rotate(90deg);
					transition: transform $nbSpeed;
					width: 1em;
				}

				@include hover {
					.uk-icon {
						transform: rotate(270deg);
					}
				}
			}
		}
	}

	@media (min-width: $breakpointTabletPortrait) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (max-width: $breakpointSmallMax) and (min-width: $breakpointTabletPortrait) {
		.uk-navbar-nav>li {
			>a:not(.label) {
				font-size: 14px;
			}
		}
	}

	@media (min-width: $breakpointMedium) {
		.uk-navbar-nav {
			>li>a:not(.label) {
				padding: 10px 20px 0;
			}
		}
	}

	@media (max-width: $breakpointTabletPortraitMax) {
		.uk-navbar-nav {
			.nav-mob-visit {

				li button:not(.uk-navbar-close),
				li a,
				li a.label,
				li span {
					color: $turquise;

					svg {
						fill: $green-pastel;
					}
				}

				.uk-active a {
					background-color: $turquise-light;
				}
			}

			.nav-mob-live {

				li button:not(.uk-navbar-close),
				li a,
				li a.label,
				li span {
					color: $yellow;

					svg {
						fill: $orange-mid;
					}
				}

				.uk-active a {
					background-color: $yellow-mid;
				}
			}

			.nav-mob-invest {

				li button:not(.uk-navbar-close),
				li a,
				li a.label,
				li span {
					color: $blue-bright;

					svg {
						fill: $blue-navy;
					}
				}

				.uk-active a {
					background-color: $blue-bright-light;
				}
			}
		}
	}
}

.nav-text-links {
	li {
		margin-bottom: 20px;

		a {
			max-width: 100%;
			white-space: initial;
		}
	}
}
