// Prevents flicker while loading
.uk-navbar-nav[data-uk-nb-nav] {
	max-height: 80px;
	opacity: 0;

	@media (max-width: $breakpointSmallMax) {
		max-width: 40px;
	}
}

.uk-navbar {
	padding-left: 20px;
	padding-right: 15px;

	// Show nav after load
	.uk-navbar-nav {
		max-height: none;
		max-width: none;
		opacity: 1;
	}

	.uk-navbar-dropdown {
		margin-top: 0;
	}

	.uk-navbar-nav {

		>li {
			>a:not(.label) {
				min-height: 0;
				font-size: 16px;
				text-transform: none;
				color: $blue;
				padding: 20px 20px 0;
				font-family: $font-recoleta;
			}

			>button,
			>a.label {
				opacity: 1;
				color: $blue;
				text-transform: none;
				min-height: 0;
			}
		}

		>.uk-parent {

			>a {
				.uk-icon {
					bottom: auto;
					left: $nbGutterSmall;
					position: relative;
					right: auto;
					top: auto;
					transform: rotate(90deg);
					transition: transform $nbSpeed;
					width: 1em;
				}

				@include hover {
					.uk-icon {
						transform: rotate(270deg);
					}
				}
			}
		}
	}

	@media (min-width: $breakpointTabletPortrait) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (max-width: $breakpointSmallMax) and (min-width: $breakpointTabletPortrait) {
		.uk-navbar-nav>li {
			>a:not(.label) {
				font-size: 14px;
			}
		}
	}

	@media (min-width: $breakpointMedium) {

		.uk-navbar-nav {

			>li>a:not(.label) {
				padding: 10px 20px 0;
			}
		}
	}
}

.nav-search {
	z-index: 1022;
	padding-top: 0;

	>button {
		line-height: 1.7em;
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgba($blue, .8);
		margin-right: 10px;

		svg {
			width: 20px;
			height: 20px;
			fill: rgba($blue, .8);
			transition: $nbSec ease-in-out;
		}
		@include hover {
			color: rgba($blue, 1);
			svg {
				fill: rgba($blue, 1);
			}
		}
	}

	.nav-search-box {
		background-color: $white;
		display: none;
		min-width: 0;
		width: 100%;
		z-index: 2;
		position: absolute;
		top: calc(100% + 2px);
		right: 0;
		padding: 20px 40px 50px;

		button.label {
			padding-right: 10px;
			padding-left: 17px;
			display: none;

			&::after {
				content: font-char($close-search);
				font-family: 'svgicons';
				font-size: 10px;
				color: $blue;
				margin-left: 15px;
				font-weight: $bold;
			}
		}

		&.nav-search-box-active {
			display: block;
			opacity: 0;
			animation: searchOpacityIn .3s linear forwards;
		}
	}

	form {
		max-width: 100%;
		width: 100%;

		button[type='submit'] {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);

			svg {
				width: 20px;
				height: 20px;
				fill: $blue;
				margin-left: 8px;
			}
		}

		.uk-input {
			border-radius: 50px;
			min-height: 48px;
			padding: 3px 40px 0 35px;

			@include placeholder {
				font-size: 14px;
				opacity: .7;
				color: inherit;
				top: -2px;
				position: relative;
			}
		}
	}

	@media (min-width: $breakpointTabletPortrait) {

		>button {
			justify-content: flex-end;
			margin-right: 0;
		}

		.nav-search-box {
			top: calc(100% + 18px);
		}
	}

	@media (min-width: $breakpointXlarge) {
		min-width: 150px;
		position: relative;
		padding-top: 25px;
		height: auto;

		>button svg {
			margin-left: 8px;
		}

		.nav-search-box {
			min-width: 560px;
			top: 15px;
			right: -20px;
			padding: 0;

			button.label {
				display: block;
			}

			>svg {
				display: none;
			}
		}

		form {
			max-width: 400px;
			margin-left: 10px;

			button[type='submit'] {
				transform: translateY(-46%);
			}
		}
	}

	@media (max-width: $breakpointLargeMax) {
		>button.label {
			z-index: 3;
			width: 48px;
			height: 48px;
			top: 15px;
			position: relative;

			span {
				display: none;
			}

			svg {
				width: 20px;
				height: 20px;
			}
		}

		.nav-search-box-active~button {
			opacity: 0;
		}

		.nav-search-box {
			// &::after {
			// 	position: absolute;
			// 	content: '';
			// 	background-color: rgba($white, .8);
			// 	left: 0;
			// 	width: 100%;
			// 	bottom: 100%;
			// 	height: 122px;
			// 	z-index: 1;
			// }

			>svg {
				background-color: $white;
				position: absolute;
				pointer-events: none;
				fill: $blue;
				width: 20px;
				height: 20px;
				bottom: calc(100% + 19px);
				transform: translateY(-50%);
				right: 40px;
				z-index: 3;
			}
		}
	}

	@media (max-width: $breakpointMedium) {

		.nav-search-box>svg {
			bottom: calc(100% + 10px);
		}
	}

	@media (max-width: $breakpointTabletPortraitMax) {
		>button.label {
			top: 0;
			position: static;
		}

		.nav-search-box {
			padding: 20px 20px 35px;

			>svg {
				right: 87px;
			}
		}

		form .uk-input {
			font-size: 16px;
			line-height: 48px;
		}
	}
}

.mega-menu {
	&:not(:first-of-type) {
		margin-left: 20px;
	}

	>button,
	>a.label {
		padding-bottom: 22px;
		position: relative;

		&:not(a)::after {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 5px 0 5px;
			left: 0;
			right: 0;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
			transition: $nbSec;
		}

		&.green::after {
			border-color: $green-pastel transparent transparent;
		}

		&.blue::after {
			border-color: $blue-navy transparent transparent;
		}

		&.yellow::after {
			border-color: $orange-mid transparent transparent;
		}

		&.uk-open {
			position: relative;
			z-index: 1021;

			&::after {
				bottom: -9px;
				left: 0;
				transform: translateX(0);
				height: 4px;
				width: 100%;
				border: 0;
			}

			&.green {
				color: $turquise;

				&::after {
					background-color: $green-pastel;
				}
			}

			&.blue {
				color: $blue-bright;

				&::after {
					background-color: $blue-navy;
				}
			}

			&.yellow {
				color: $yellow;

				&::after {
					background-color: $orange-mid;
				}
			}
		}
	}

	.green {
		color: $turquise;
	}

	.blue {
		color: $blue-bright;
	}

	.yellow {
		color: $yellow;
	}

	>.uk-dropdown {
		box-shadow: 0 15px 30px rgba($blue, .25);
		padding: 0;
		border-top: 1px solid $gray-light;
		width: 100%;

		.dropdown-close-button {
			position: absolute;
			top: 10px;
			right: 25px;
			z-index: 1;
		}

		.uk-dropdown-nav {
			padding: 60px 40px 30px;
		}

		.uk-grid+.uk-grid-collapse,
		.uk-grid+.uk-grid-row-collapse,
		.uk-grid-collapse>.uk-grid-margin,
		.uk-grid-row-collapse>.uk-grid-margin {
			margin-top: 50px;
		}

		span.label.large {
			display: block;
			margin-bottom: 35px;
		}

		span.label.small {
			display: block;
			margin-bottom: 20px;
			line-height: 1.7em;
		}

		ul li a.label.large {
			margin-bottom: 20px;
		}

		ul li a.label.midi {
			margin-bottom: 15px;
		}
	}

	.entry-item {
		min-height: 200px;
	}

	.uk-card:not(.entry-item) {
		padding-right: 15px;
	}

	.uk-card-body {
		padding: 0;
	}

	.uk-card-media-left {
		width: 90px;
		min-width: 90px;
		height: 60px;
		margin-right: 40px;
	}

	.uk-card-title,
	.label {
		max-width: 100%;
		white-space: initial;
	}

	.uk-button-text {
		margin-bottom: 50px;

		.shape {
			stroke-dasharray: 108 384;
			stroke-dashoffset: -720;
			stroke-width: 2px;
			width: 180px;
		}

		&.uk-button-text-left {
			margin-left: -30px;
		}
	}

	.uk-flex-right>.uk-button-text {
		margin-right: 25px;
	}

	.nav-search {
		min-width: 0;
		padding: 0;
		margin: 0 0 35px;

		form {
			max-width: 100%;
			margin: 0;
		}
	}

	@media (min-width: $breakpointLarge) {
		&:not(:first-of-type) {
			margin-left: 40px;
		}

		>button.uk-open {
			&::after {
				bottom: -19px;
			}
		}

		*+.uk-grid-margin-medium,
		.uk-grid+.uk-grid-medium,
		.uk-grid+.uk-grid-row-medium,
		.uk-grid-medium>.uk-grid-margin,
		.uk-grid-row-medium>.uk-grid-margin {
			margin-top: 50px;
		}
	}

	@media (max-width: $breakpointSmallMax) and (min-width: $breakpointTabletPortrait) {

		>.label.large {
			font-size: 17px;
			&.uk-open::after {
				bottom: -12px;
			}
		}
	}
}

.nav-text-links {
	li {
		margin-bottom: 20px;

		a {
			max-width: 100%;
			white-space: initial;
		}
	}
}

.uk-navbar-toggle {
	min-height: 0;
	padding: 0;
	@include align();

	.nav-bars {
		padding: 3px;
		width: 48px;
		height: 48px;
		position: relative;
		transition: transform .3s $snappy;

		span {
			display: block;
			width: 85%;
			height: 4px;
			background-color: $blue;
			margin-top: 6px;

			&:first-child {
				margin-top: 0;
				transform: scaleX(1);
				transition: transform .2s $snappy;
				transition-delay: .4s;
			}

			&:nth-child(3) {
				width: 50%;
				transition: width .2s $snappy;
				transition-delay: .4s;
			}
		}

		.nav-bar-alt {
			width: 4px;
			height: 0;
			background-color: $blue;
			position: absolute;
			top: -3px;
			left: 50%;
			margin-left: -5px;
			transition: height .4s $snappy;
			z-index: 10;
		}
	}

	&.uk-navbar-toggle-open {
		.nav-bars {
			transform: rotate(45deg) translate(-10%, 20%);
			transition-delay: .4s;

			span {
				&:first-child {
					transform: scaleX(0);
					transition: transform .2s $snappy;
				}

				&:nth-child(3) {
					width: 0;
					transition: width .2s $snappy;
				}
			}

			.nav-bar-alt {
				height: 36px;
				transition: height .2s $snappy;
				transition-delay: .3s;
			}
		}
	}
}
