.nb-recipe {
    background-color: $white-flag;
    padding: 36px 48px 30px;

    * {
        font-family: $font-default;
    }

    >span {
        display: block;
        margin-bottom: 5px;
    }

    .uk-button-default {
        border: 2px solid $blue;
        margin-bottom: 30px;

        svg {
            margin-right: 15px;
            fill: $blue;
            width: 22px;
            height: 22px;
        }

        @include hover {
            background-color: $blue;
            color: $white;

            svg {
                fill: $white;
            }
        }
    }
}
