.nb-search {
    form {
        width: 100%;
    }

    button[type='submit'] {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

        svg {
            width: 20px;
            height: 20px;
            fill: $blue;
            margin-left: 8px;
        }
    }

    .uk-input {
        border: 2px solid rgba($blue, .1);
        border-radius: 50px;
        background-color: $gray-silk;
        min-height: 44px;
        width: 100%;

        @include placeholder {
            font-size: 14px;
            opacity: .7;
            color: inherit;
            line-height: inherit;
        }
    }
}
