.footer {
    border-top: 1px solid $gray-cold;
}

.footer-wrap {
    min-height: 710px;
    padding: 55px 0 30px;
}

.footer-top {
    padding-bottom: 30px;

    a img {
        max-width: 127px;
        width: 100%;
        height: auto;
    }

    >.uk-flex {
        &:nth-child(3) {
            a {
                position: relative;

                &::after {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    opacity: 0;
                    background-color: $blue;
                    transition: $nbSec ease-in-out;
                    bottom: 0;
                    content: '';
                }

                @include hover {
                    color: $blue;

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    ul {
        list-style-type: none;
    }

    .uk-button-default {
        border-color: $blue;

        svg {
            width: 24px;
            height: 24px;
            margin-left: 15px;
            fill: $blue;
            transition: $nbSec ease-in-out;
        }

        @include hover {
            background-color: $blue;
            color: $white;

            svg {
                fill: $white;
            }
        }
    }

    .nb-social {
        a {
            border: 2px solid rgba($blue, .1);

            &::after {
                width: 48px;
                height: 48px;
                left: -2px;
                top: -2px;
            }

            @include hover {
                border-color: $blue;
            }
        }
    }

    >.uk-flex:last-child li:not(:last-of-type) {
        margin-right: 20px;
    }

    @media (max-width: $breakpointLarge) and (min-width: $breakpointSmall) {
        .uk-button-default.font-news {
            margin-right: 20px;
        }
    }

    @media (min-width: $breakpointSmall) {
        padding-bottom: 150px;

        .uk-button-default.font-news,
        >.uk-flex:last-child li:not(:last-of-type) {
            margin-right: 40px;
        }
    }

    @media (min-width: $breakpointLarge) {
        padding-bottom: 190px;

        >.uk-flex {
            &:first-child {
                order: 2;
            }

            &:nth-child(2) {
                order: 4;
            }

            &:nth-child(3) {
                order: 1;
            }

            &:last-child {
                order: 3;
            }
        }

        .nb-social {
            padding-left: 40px;
        }
    }

    @media (max-width: $breakpointLarge) {
        >.uk-flex {
            justify-content: center;
        }
    }

    @media (max-width: $breakpointSmall) {
        >.uk-flex:nth-child(3) {
            flex-direction: column;
            align-items: center;
        }

        .uk-button-default {
            max-width: 280px;
            width: 100%;

            &.font-news {
                margin-bottom: 20px;
                margin-right: 0;
            }
        }
    }
}

.footer-bottom {
    * {
        color: $white;
    }

    >div {
        &:first-of-type .label.small {
            margin: 11px 0 15px;
        }
    }

    .uk-button {
        font-size: 12px;
        line-height: 1.7em;
        font-weight: normal;
        border: 1px solid $white;
        padding: 3px 20px;
        min-height: 26px;

        @include hover {
            border-color: $blue;
            background-color: $blue;
            color: $white;
        }
    }

    .label.small {
        display: block;
        opacity: 1;
        text-align: left;
    }

    @media (min-width: $breakpointLarge) {
        >div {
            &:first-child {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }

            &:last-child {
                order: 3;
            }
        }
    }

    @media (max-width: $breakpointMediumMax) {
        justify-content: space-between;

        >div {
            &:first-child {
                margin-bottom: 25px;
                width: 100%;
            }
        }

        *+.uk-grid-margin,
        .uk-grid+.uk-grid,
        .uk-grid>.uk-grid-margin {
            margin-top: 15px;
        }
    }

    @media (max-width: $breakpointXsmallMax) {
        >div {
            &:nth-child(2) .label.small {
                display: flex;
                justify-content: center;
            }

            &:last-child {
                justify-content: center;
            }
        }

        .nb-copyright {
            margin-top: 30px;
        }
    }
}
