.header {
    background-color: $white;
    padding: 0 0 19px 0;

    li {
        list-style-type: none;
    }

    .navbar-top {
        width: 100%;

        >.uk-flex:not(:first-of-type) {
            margin-top: 13px;
        }

        .uk-flex {
            li {
                &:not(:first-of-type) {
                    margin-left: 30px;
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;

            &:last-of-type {
                margin-left: 15px;
            }
        }

        a {
            font-size: 16px;
            color: $blue;
            position: relative;

            svg {
                width: 16px;
                height: 16px;
                fill: $blue;
                transition: $nbSec ease-in-out;
            }

            &:not(:first-of-type) {
                margin-left: 25px;
            }

            @include hover {
                svg {
                    //check this!!!
                    opacity: 1;
                }
            }
        }
    }

    &:not(.header-main) {
        .navbar-top {
            .uk-flex {
                ul:last-of-type {
                    margin-left: 45px;
                }
            }
        }

        .navbar-bottom .uk-navbar-nav {
            top: 10px;
            position: relative;
        }

        .uk-navbar-nav>li>a {
            padding: 5px 20px 4px;
            position: relative;

            &::after {
                position: absolute;
                width: 0;
                height: 0;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-style: solid;
                border-width: 8px 7.5px 0 7.5px;
                content: '';
                border-color: transparent;
            }
        }
    }

    &.header-main {

        .navbar-top {
            >.uk-flex:first-of-type {
                margin-top: 13px;
            }

            ul:last-of-type {
                margin-left: 30px;
            }
        }
    }

    &.header-visit {
        .uk-navbar-nav .uk-active a {
            background-color: $turquise-light;

            &::after {
                border-color: $turquise-light transparent transparent;
            }
        }

        // .mega-menu:last-of-type {
        //     .background-gray {
        //         max-width: 690px;
        //     }
        // }
    }

    &.header-live {
        .uk-navbar-nav .uk-active a {
            background-color: $yellow-mid;

            &::after {
                border-color: $yellow-mid transparent transparent;
            }
        }
    }

    &.header-invest {
        .uk-navbar-nav .uk-active a {
            background-color: $blue-bright-light;

            &::after {
                border-color: $blue-bright-light transparent transparent;
            }
        }
    }

    @media (min-width: $breakpointMedium) {
        &.header-main {

            .navbar-top ul:last-of-type {
                margin-left: 45px;
            }
        }
    }

    @media (max-width: $breakpointSmallMax) {
        &.header-main {
            .nav {
                background-color: transparent;
                margin-top: 0;
                padding-bottom: 55px;
                box-shadow: none;

                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    height: 0;
                    background-color: $white;
                    z-index: -1;
                }

                .uk-navbar-nav {
                    opacity: 0;

                    >li>a {
                        justify-content: left;
                        padding: 15px 0 15px 90px;
                        font-size: 26px;
                    }
                }

                &:not(.uk-open) {
                    &::after {
                        animation: slideBackgroundIn $nbSec ease-out reverse;
                    }

                    .uk-navbar-nav {
                        animation: slideIn $nbSec ease-out reverse;
                    }
                }

                &.uk-open {
                    &::after {
                        animation: slideBackgroundIn $nbSec ease-out forwards;
                    }

                    .uk-navbar-nav {
                        animation: slideIn $nbSec ease-out forwards;
                        transform: scale(1.3);
                        transform-origin: 0% 55%;
                        opacity: 0;
                    }
                }
            }

            .uk-navbar-nav {
                display: block;
            }

            .navbar-bottom {
                justify-content: flex-end;
            }
        }
    }

    @media (max-width: $breakpointXsmallMax) {
        &.header-main {
            .nav {
                padding-bottom: 20px;

                li>a {
                    display: block;
                    padding: 17px 0 17px 45px;
                    font-size: 18px;
                }

                .uk-navbar-nav {
                    padding-bottom: 25px;

                    >li>a {
                        padding: 15px 0 15px 45px;
                        font-size: 26px;
                    }
                }
            }
            .navbar-top {
                ul:last-of-type {
                    margin: 0;
                    li:not(:first-of-type) {
                        margin: 0;
                    }
                    li a {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideBackgroundIn {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

// @keyframes slideBackgroundOut {
//     0% {
//         height: 0;
//     }

//     100% {
//         height: 100%;
//     }
// }

.burger-menu {
    margin-top: 25px;
    width: 45px;
    height: 45px;
    position: relative;

    span {
        pointer-events: none;
        z-index: 0;
        position: absolute;
        left: 50%;
        width: 20px;
        height: 2px;
        background: $blue;
        content: '';
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .5s ease-in-out;

        &::after,
        &::before {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: $blue;
            content: '';
            transition: .5s ease-in-out;
        }

        &::after {
            top: -7px;
        }

        &::before {
            top: 7px;
        }
    }

    &.uk-open {

        span {
            background: transparent;

            &::after,
            &::before {
                top: 0;
            }

            &::after {
                transform: rotate(45deg);
                left: 0;
            }

            &::before {
                transform: rotate(-45deg);
                right: 0;
                width: 100%;
            }
        }
    }
}
