@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .uk-background-fixed {
        background-attachment: scroll;
    }

    .banner-inner {
        height: 670px;
        >.uk-container {
            display: flex;
            align-self: center;
        }
    }

    .banner-video video,
    .scroll-button-down,
    .nb-checkbox.bounce:not(.uk-form-danger) svg,
    .uk-button-text>svg,
    .uk-button-text>span:last-of-type::after {
        display: none;
    }

    .button-sound {

        svg {
            stroke: $white;
            stroke-width: 6px;

            path {

                &:nth-child(2),
                &:nth-child(3) {
                    stroke-dashoffset: 1px;
                }
            }
        }

        &:not(.button-sound-active) {
            svg {
                path {
                    &:nth-child(1) {
                        stroke-dasharray: 59px 47px 184px;
                        stroke-dashoffset: 17px;
                    }

                    &:nth-child(2) {
                        stroke-dasharray: 0 39px 30px 64px;
                        stroke-dashoffset: 1px;
                    }

                    &:nth-child(3) {
                        stroke-dasharray: 0 78px 32px 84px;
                        stroke-dashoffset: 1px;
                    }
                }
            }
        }

        &.button-sound-active,
        &[data-uk-video~='automute: true'] {
            svg {
                path {
                    &:nth-child(1) {
                        stroke-dasharray: 60px 0 184px;
                        stroke-dashoffset: 0;
                    }

                    &:nth-child(2) {
                        stroke-dasharray: 0 0 30px 64px;
                    }

                    &:nth-child(3) {
                        stroke-dasharray: 0 0 50px 84px;
                    }
                }
            }
        }
    }

    .banner-text .label {
        margin: 15px 0;
    }

    .image-card {
        height: 430px;

        &.alt {
            height: 540px;

            .uk-button-primary {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                >span:first-of-type::after {
                    transform: translate(-50%, -50%);
                }
            }

            @include hover {
                .uk-button-primary>span:first-of-type::after {
                    top: 63%;
                }
            }
        }
    }

    .campaign-slider {
        .uk-card {
            height: 165px;
        }
    }

    .uk-dropdown .uk-card-title,
    .nav-text-links li a,
    .uk-dropdown .label {
        white-space: pre-line;
    }

    .uk-dropdown .entry-item .uk-card-title {
        white-space: normal;
    }

    .nav-search form button[type='submit'] {
        transform: translateY(-50%);
    }

    .uk-button-text {
        padding-left: 0;

        &.uk-button-large {
            padding-left: 0;
        }
    }

    .map-pins button {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: visible;

        &::before {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 7px 0;
            border-color: $blue transparent transparent;
            left: 50%;
            top: calc(100% - 1px);
            transform: translateX(-50%);
            content: '';
        }

        &::after {
            left: 50%;
            top: 50%;
        }
    }
}


//Firefox
@-moz-document url-prefix() {

    .uk-input:not(.uk-form-danger),
    .uk-select:not(.uk-form-danger),
    .uk-textarea:not(.uk-form-danger),
    .uk-checkbox:not(.uk-form-danger),
    .uk-radio:not(.uk-form-danger),
    .uk-checkbox:checked:not(.uk-form-danger),
    .uk-radio:checked:not(.uk-form-danger) {
        line-height: 52px;
    }

    .nav-search form .uk-input {
        line-height: 44px;
    }

    .button-video:not(.button-video-active) .left {
        height: 16px;
    }

    .uk-button>span:last-of-type::after,
    .banner-text .uk-button-default>span:last-of-type::after {
        height: 1.5px;
        background-color: rgba($white, .5);
    }

    .uk-button-default>span:last-of-type::after {
        background-color: rgba($blue-light, .5);
    }
}
