@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .uk-background-fixed {
        background-attachment: scroll;
    }

    .banner-inner {
        height: 670px;
    }

    .image-card {
        height: 430px;

        &.alt {
            height: 540px;

            .uk-button-primary {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                >span:first-of-type::after {
                    transform: translate(-50%, -50%);
                }
            }

            @include hover {
                .uk-button-primary>span:first-of-type::after {
                    top: 63%;
                }
            }
        }
    }

    .nb-block-form .nb-checkbox.bounce:not(.uk-form-danger) {
        svg {
            display: none;
        }
    }

    .campaign-slider {
        .uk-card {
            height: 165px;
        }
    }

    .mega-menu .uk-card-title,
    .nav-text-links li a,
    .mega-menu .label {
        white-space: pre-line;
    }
}
