@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

    .uk-button,
    .map-card .uk-button-text {
        >span:last-of-type::after {
            display: none;
        }

        @include hover {
            span:last-of-type svg {
                left: 10px;
            }
        }
    }

    .map-select-btns .uk-button-text {
        line-height: 38px;

        @include hover {
            color: $blue-light;
        }
    }

    .uk-background-fixed {
        background-attachment: scroll;
    }

    .banner-inner {
        height: 670px;

        >.uk-container {
            display: flex;
            align-self: center;
        }
    }

    .banner-video video,
    .scroll-button-down,
    .nb-checkbox.bounce:not(.uk-form-danger) svg,
    .uk-button-text>svg,
    .uk-button-text>span:last-of-type::after {
        display: none;
    }

    .banner-text .label {
        margin: 15px 0;
    }

    .image-card {
        height: 430px;

        &.alt {
            height: 540px;

            .uk-button-primary {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                >span:first-of-type::after {
                    transform: translate(-50%, -50%);
                }
            }

            @include hover {
                .uk-button-primary>span:first-of-type::after {
                    top: 63%;
                }
            }
        }

        .uk-button-primary>span:last-of-type svg {
            left: 0;
        }
    }

    .campaign-slider {
        .uk-card {
            height: 165px;
        }
    }

    .mega-menu {
        >button {
            overflow: visible;

            &.uk-open::after {
                bottom: -12px;
            }
        }

        .uk-button-text.uk-button-text-left {
            margin-left: 0;
        }
    }

    .uk-dropdown .entry-item .uk-card-title {
        white-space: normal;
    }

    .nav-search form button[type='submit'] {
        transform: translateY(-50%);
    }

    .uk-button-text {
        padding-left: 0;

        &.uk-button-large {
            padding-left: 0;
        }
    }

    .map-pins button {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: visible;

        &::before {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 7px 0;
            border-color: $blue transparent transparent;
            left: 50%;
            top: calc(100% - 1px);
            transform: translateX(-50%);
            content: '';
        }

        &::after {
            left: 50%;
            top: 50%;
        }
    }

    .walk-filter .uk-button-text {
        @include hover {
            color: $blue-light;
        }
    }

    .walk-list .uk-card {
        height: 480px;
    }
}

//Firefox
@-moz-document url-prefix() {

    .uk-input:not(.uk-form-danger),
    .uk-select:not(.uk-form-danger),
    .uk-textarea:not(.uk-form-danger),
    .uk-checkbox:not(.uk-form-danger),
    .uk-radio:not(.uk-form-danger),
    .uk-checkbox:checked:not(.uk-form-danger),
    .uk-radio:checked:not(.uk-form-danger) {
        line-height: 52px;
    }

    .nav-search form .uk-input {
        line-height: 44px;
    }

    .uk-button>span:last-of-type::after,
    .banner-text .uk-button-default>span:last-of-type::after {
        height: 1.5px;
        background-color: rgba($white, .5);
    }

    .uk-button-default>span:last-of-type::after {
        background-color: rgba($blue-light, .5);
    }

    .footer-bottom .uk-button {
        line-height: 27px;
    }
}
