//
// Theme
//

@import "_variables.scss";
@import "_mixins.scss";

// Base
@import 'base/fonts.scss';
@import 'base/typography.scss';

// Layout / Helpers
@import 'layout/_icon-font.scss';
@import 'helpers/helpers.scss';
@import 'layout/buttons.scss';

// UIkit
@import "uikit/base.scss";
@import "uikit/utility.scss";
@import "uikit/navbar.scss";
@import "uikit/breadcrumb.scss";
@import "uikit/form.scss";

// NB
@import "nb/nav.scss";
@import "nb/table.scss";
@import "nb/block.scss";
@import "nb/cookie.scss";
@import "nb/responsive.scss";
@import "nb/file-icon.scss";
@import "nb/legal.scss";
@import "nb/credit.scss";
@import "nb/json.scss";
@import 'nb/video.scss';
@import 'nb/accordion.scss';
@import 'nb/social.scss';
@import 'nb/widget.scss';

// Modules
@import 'modules/banner.scss';
@import 'modules/slider.scss';
@import 'modules/team-list.scss';
@import 'modules/explore-section.scss';
@import 'modules/entry-item.scss';
@import 'modules/testimonials-slider.scss';
@import 'modules/useful-links.scss';
@import 'modules/find-out-more.scss';
@import 'modules/share.scss';
@import 'modules/image-card.scss';
@import 'modules/campaign-slider.scss';

// Theme
@import "theme/base.scss";
@import "theme/header.scss";
@import "theme/footer.scss";
@import "theme/ie11.scss";
@import "theme/print.scss";



// Template | Remove or Integrate

// // uikit/base
// a, .uk-link {
// 	color: $nbRed;
// }

// // .uk-link-toggle:focus .uk-link,
// // .uk-link-toggle:hover .uk-link,
// // .uk-link:hover,
// // a:hover {
// // 	color: $nbRed;
// // }

// uikit/utility
.uk-logo {

	img {
		width: 228px;
	}
}

// uikit/tooltip
.uk-tooltip {
	background: $white;
	border-radius: 6px;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 1.7em;
	color: $blue;
	font-family: $font-default;
	font-weight: normal;
	max-width: 205px;
}

//uikit/container
.uk-container-large {
	max-width: 1380px;
}

//uikit/grid
@media (min-width: $breakpointLarge) {

	.uk-grid-column-large,
	.uk-grid-large {
		margin-left: -135px;

		>* {
			padding-left: 135px;
		}
	}

	.uk-grid-column-medium,
	.uk-grid-medium {
		margin-left: -80px;

		>* {
			padding-left: 80px;
		}
	}
}
