//
// Theme
//

@import "_variables.scss";
@import "_mixins.scss";

// Base
@import 'base/fonts.scss';
@import 'base/typography.scss';

// Layout / Helpers
@import 'helpers/helpers.scss';
@import 'helpers/keyframes.scss';
@import 'layout/buttons.scss';

// UIkit
@import "uikit/navbar.scss";
@import "uikit/breadcrumb.scss";
@import "uikit/form.scss";

// NB
@import "nb/nav.scss";
@import "nb/nav-search.scss";
@import "nb/mega-menu.scss";
@import "nb/table.scss";
@import "nb/checkbox.scss";
@import "nb/block.scss";
@import "nb/cookie.scss";
@import "nb/responsive.scss";
@import "nb/file-icon.scss";
@import "nb/legal.scss";
@import "nb/credit.scss";
@import "nb/json.scss";
@import 'nb/video.scss';
@import 'nb/accordion.scss';
@import 'nb/social.scss';
@import 'nb/author.scss';
@import 'nb/bio.scss';
@import 'nb/map.scss';
@import 'nb/dropdown.scss';
@import 'nb/lightbox.scss';
@import 'nb/recipe.scss';
@import 'nb/competition.scss';
@import 'nb/filter.scss';
@import 'nb/search.scss';
@import 'nb/burger-menu.scss';

// Modules
@import 'modules/alert-banner.scss';
@import 'modules/banner.scss';
@import 'modules/banner-video.scss';
@import 'modules/explore-section.scss';
@import 'modules/explore-item.scss';
@import 'modules/entry-item.scss';
@import 'modules/testimonials-slider.scss';
@import 'modules/useful-links.scss';
@import 'modules/find-out-more.scss';
@import 'modules/share.scss';
@import 'modules/image-card.scss';
@import 'modules/campaign-slider.scss';
@import 'modules/newsletter-section.scss';
@import 'modules/visit-section.scss';
@import 'modules/instagram-section.scss';
@import 'modules/things-to-do-section.scss';
@import 'modules/beach-section.scss';
@import 'modules/map-card.scss';
@import 'modules/fixed-nav.scss';
@import 'modules/operator-card.scss';
@import 'modules/walk-widget.scss';
@import 'modules/listing-business.scss';

// Theme
@import "theme/base.scss";
@import "theme/header.scss";
@import "theme/footer.scss";
@import "theme/ie11.scss";
@import "theme/print.scss";


// Template | Remove or Integrate

// uikit/utility
.uk-logo {
	padding: 0;
	min-height: 0;

	img {
		height: auto;
		width: 100%;

		&:last-of-type {
			display: none;
		}
	}

	@media (max-width: $breakpointTabletPortraitMax) {
		img {
			width: 100%;

			&:first-of-type {
				display: none;
			}

			&:last-of-type {
				display: block;
			}
		}
	}
}

// uikit/tooltip
.uk-tooltip {
	background: $white;
	border-radius: 6px;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 1.7em;
	color: $blue;
	font-family: $font-default;
	font-weight: normal;
	max-width: 205px;
}

//uikit/container
.uk-container {
	@media (max-width: $breakpointMediumMax) {
		padding-left: 60px;
		padding-right: 60px;
	}

	@media (max-width: $breakpointTabletPortraitMax) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.uk-container-large {
	max-width: 1380px;
}

.uk-container-small {
	max-width: 894px;
}

.uk-container-xsmall {
	max-width: 650px;
}

//uikit/grid
.uk-grid-column-medium,
.uk-grid-medium {
	margin-left: -20px;

	>* {
		padding-left: 20px;
	}
}

*+.uk-grid-margin-medium,
.uk-grid+.uk-grid-medium,
.uk-grid+.uk-grid-row-medium,
.uk-grid-medium>.uk-grid-margin,
.uk-grid-row-medium>.uk-grid-margin {
	margin-top: 20px;
}

@media (min-width: $breakpointTabletPortrait) {

	.uk-grid-column-medium,
	.uk-grid-medium {
		margin-left: -40px;

		>* {
			padding-left: 40px;
		}
	}

	*+.uk-grid-margin-medium,
	.uk-grid+.uk-grid-medium,
	.uk-grid+.uk-grid-row-medium,
	.uk-grid-medium>.uk-grid-margin,
	.uk-grid-row-medium>.uk-grid-margin {
		margin-top: 40px;
	}
}

@media (min-width: $breakpointLarge) {

	.uk-grid-column-large,
	.uk-grid-large {
		margin-left: -135px;

		>* {
			padding-left: 135px;
		}
	}

	.uk-grid-column-medium,
	.uk-grid-medium {
		margin-left: -80px;

		>* {
			padding-left: 80px;
		}
	}

	*+.uk-grid-margin-medium,
	.uk-grid+.uk-grid-medium,
	.uk-grid+.uk-grid-row-medium,
	.uk-grid-medium>.uk-grid-margin,
	.uk-grid-row-medium>.uk-grid-margin {
		margin-top: 80px;
	}
}
